<% provide( :title, 'New User Registration') %>

<% provide( :page_header, 'Register' ) %>

<div class="col-xs-12">
  <div class="row">
    <div class="col-xs-12 col-sm-9 col-md-6 col-sm-offset-3 col-md-offset-3">
      <%= form_for(@user) do |f| %>

        <div class="col-xs-12 col-md-2">
          <%= f.label :name %>
        </div>
        <div class="col-xs-12 col-md-10">
          <%= f.text_field :name %>
        </div>

        <div class="col-xs-12 col-md-2">
          <%= f.label :email %>
        </div>
        <div class="col-xs-12 col-md-10">
          <%= f.text_field :email %>
        </div>

        <div class="col-xs-12 col-md-2">
          <%= f.label :password %>
        </div>
        <div class="col-xs-12 col-md-10">
          <%= f.password_field :password %>
        </div>

        <div class="col-xs-12 col-md-2">
          <%= f.label :password_confirmation, "Confirmation" %>
        </div>
        <div class="col-xs-12 col-md-10">
          <%= f.password_field :password_confirmation %>
        </div>

        <div class="col-xs-6 col-sm-2 col-md-2">
          <%= link_to 'Cancel', root_path, class: 'btn btn-large btn-danger' %>
        </div>
        <div class="col-xs-6 col-md-2">
          <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>

</div>
