<!DOCTYPE html>
<html>
<head>
  <title><%= page_title( yield(:title) ) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render( 'layouts/header' ) %>
<div class="container-fluid">

  <div class='page-header clearfix'>
    <div class="row">
        <h1 class="col-xs-12 col-md-8 col-md-offset-2"><%= yield( :page_header ) %></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <%= yield %>
    </div>
  </div>

  <%= debug(params) %>
  <%= render( 'layouts/footer' ) %>
</div>

</body>
</html>
